


/*
 * Table
 */
 
.path-report-btecprogress table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
        border-collapse:inherit;    
}

.path-report-btecprogress table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
        background-color: #ddd;
}

.path-report-btecprogress table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

.path-report-btecprogress table.dataTable td {
	padding: 3px 10px;
}

.path-report-btecprogress table.dataTable td.center,
.path-report-btecprogress table.dataTable td.dataTables_empty {
	text-align: left;
}

.path-report-btecprogress table.dataTable img.smallicon {
	height: 12px; 
	width: 12px;
}

.path-report-btecprogress table.dataTable tr.odd { background-color: #E2E4FF; }
.path-report-btecprogress table.dataTable tr.even { background-color: white; }

.path-report-btecprogress table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
.path-report-btecprogress table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
.path-report-btecprogress table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }

/*
 * Table wrapper
 */
.path-report-btecprogress .dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}


/*
 * Page length menu
 */
.path-report-btecprogress .dataTables_length {
	float: left;
}


/*
 * Filter
 */
.path-report-btecprogress .dataTables_filter {
	float: right;
	text-align: right;
}


/*
 * Table information
 */
.path-report-btecprogress .dataTables_info {
	clear: both;
	float: left;
}


/*
 * Pagination
 */
.path-report-btecprogress .dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_enabled_previous,
.path-report-btecprogress .paginate_disabled_next,
.path-report-btecprogress .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.path-report-btecprogress .paginate_disabled_previous:hover,
.path-report-btecprogress .paginate_enabled_previous:hover,
.path-report-btecprogress .paginate_disabled_next:hover,
.path-report-btecprogress .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.path-report-btecprogress .paginate_disabled_previous:active,
.path-report-btecprogress .paginate_enabled_previous:active,
.path-report-btecprogress .paginate_disabled_next:active,
.path-report-btecprogress .paginate_enabled_next:active {
	outline: none;
}

.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_disabled_next {
	color: #666 !important;
}
.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_enabled_previous {
	padding-left: 23px;
}
.path-report-btecprogress .paginate_disabled_next,
.path-report-btecprogress .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

/* Full number pagination */
.path-report-btecprogress .paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.path-report-btecprogress .paging_full_numbers a:active {
	outline: none
}
.path-report-btecprogress .paging_full_numbers a:hover {
	text-decoration: none;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button,
.path-report-btecprogress .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.path-report-btecprogress .paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.path-report-btecprogress .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: left;
	color: #999;
	font-size: 14px;
	background-color: white;
}



/*
 * Table
 */
 
.path-report-btecprogress table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

.path-report-btecprogress table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

.path-report-btecprogress table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

.path-report-btecprogress table.dataTable td {
	padding: 3px 10px;
}

.path-report-btecprogress table.dataTable td.center,
.path-report-btecprogress table.dataTable td.dataTables_empty {
	text-align: left;
}

.path-report-btecprogress table.dataTable img.smallicon {
	height: 12px; 
	width: 12px;
}

.path-report-btecprogress table.dataTable tr.odd { background-color: #E2E4FF; }
.path-report-btecprogress table.dataTable tr.even { background-color: white; }

.path-report-btecprogress table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
.path-report-btecprogress table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
.path-report-btecprogress table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
.path-report-btecprogress table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }
/*
 * Table wrapper
 */
.path-report-btecprogress .dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}


/*
 * Page length menu
 */
.path-report-btecprogress .dataTables_length {
	float: left;
}


/*
 * Filter
 */
.path-report-btecprogress .dataTables_filter {
	float: right;
	text-align: right;
}


/*
 * Table information
 */
.path-report-btecprogress .dataTables_info {
	clear: both;
	float: left;
}


/*
 * Pagination
 */
.path-report-btecprogress .dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_enabled_previous,
.path-report-btecprogress .paginate_disabled_next,
.path-report-btecprogress .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.path-report-btecprogress .paginate_disabled_previous:hover,
.path-report-btecprogress .paginate_enabled_previous:hover,
.path-report-btecprogress .paginate_disabled_next:hover,
.path-report-btecprogress .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.path-report-btecprogress .paginate_disabled_previous:active,
.path-report-btecprogress .paginate_enabled_previous:active,
.path-report-btecprogress .paginate_disabled_next:active,
.path-report-btecprogress .paginate_enabled_next:active {
	outline: none;
}

.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_disabled_next {
	color: #666 !important;
}
.path-report-btecprogress .paginate_disabled_previous,
.path-report-btecprogress .paginate_enabled_previous {
	padding-left: 23px;
}
.path-report-btecprogress .paginate_disabled_next,
.path-report-btecprogress .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

/* Full number pagination */
.path-report-btecprogress .paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.path-report-btecprogress .paging_full_numbers a:active {
	outline: none
}
.path-report-btecprogress .paging_full_numbers a:hover {
	text-decoration: none;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button,
.path-report-btecprogress .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.path-report-btecprogress .paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.path-report-btecprogress .paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.path-report-btecprogress .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: left;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.path-report-btecprogress .sorting { background-image:url("[[pix:moodle|t/sort]]") !important; background-position: center right !important; background-repeat: no-repeat !important; }
.path-report-btecprogress .sorting_asc { background-image:url("[[pix:moodle|t/sort_asc]]") !important;background-position: center right !important; background-repeat: no-repeat !important; }
.path-report-btecprogress .sorting_desc { background-image:url("[[pix:moodle|t/sort_desc]]") !important; background-position: center right !important; background-repeat: no-repeat !important; }
 
.path-report-btecprogress table.dataTable thead th:active,
.path-report-btecprogress table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.path-report-btecprogress .dataTables_scroll {
	clear: both;
}

.path-report-btecprogress .dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.path-report-btecprogress table.grades {
	color:#666;
	font-size:12px;
	background:#eaebec;
	width: 100%;
	border:#ccc 1px solid;
}

.path-report-btecprogress table.grades th {
	padding:8px 10px 8px 10px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
}

.path-report-btecprogress table.grades th:first-child {
	text-align: left;
	padding-left:10px;
	/*width: 80%;*/
	border-right: 1px solid #e0e0e0;
}

.path-report-btecprogress table.grades tr {
	text-align: left;
	padding-left:10px;
}
.path-report-btecprogress table.grades td:first-child {
	text-align: left;
	padding-left:5px;
	border-left: 0;
}
.path-report-btecprogress table.grades td, .path-report-btecprogress table.dataTable tr.odd {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	min-width: 80px;
	background: #fafafa !important;
}
.path-report-btecprogress table.grades tr.even td, .path-report-btecprogress table.dataTable tr.even {
	background: #f6f6f6 !important;
}
.path-report-btecprogress table.grades tr:last-child td {
	border-bottom:0;
}
.path-report-btecprogress table.grades tr:hover td {
	background: #f2f2f2 !important;
}

/*
 * Scrolling
 */
.path-report-btecprogress .dataTables_scroll {
	clear: both;
}

.path-report-btecprogress .dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.path-report-btecprogress table.grades {
	color:#666;
	font-size:12px;
	background:#eaebec;
	width: 100%;
	border:#ccc 1px solid;
}

.path-report-btecprogress table.grades th {
	padding:8px 10px 8px 10px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
}

.path-report-btecprogress table.grades th:first-child {
	text-align: left;
	padding-left:10px;
	/*width: 80%;*/
	border-right: 1px solid #e0e0e0;
}

.path-report-btecprogress table.grades tr {
	text-align: left;
	padding-left:10px;
}
.path-report-btecprogress table.grades td:first-child {
	text-align: left;
	padding-left:5px;
	border-left: 0;
}
.path-report-btecprogress table.grades td, .path-report-btecprogress table.dataTable tr.odd {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	min-width: 80px;
	background: #f6f6f6 !important;
}
.path-report-btecprogress table.grades tr.even td, .path-report-btecprogress table.dataTable tr.even {
	background: #E4E4E4 !important;
}
.path-report-btecprogress table.grades tr:last-child td {
	border-bottom:0;
}
.path-report-btecprogress table.grades tr:hover td {
	background: #f2f2f2 !important;
}

/* BTEC Progress */

.path-report-btecprogress table.dataTable td.sorting_1 achieved{
    background-color:lightgreen;
}

.path-report-btecprogress  table.dataTable td.sorting_1 notmet{
    background-color:red;
}

.path-report-btecprogress table.dataTable tr td.sorting_1.achieved { background-color: lightgreen; }
.path-report-btecprogress table.dataTable tr td.sorting_1.notmet { background-color:#FF3300; }
.path-report-btecprogress table.dataTable tr td.sorting_1.refer { background-color:#FF3300; }


.path-report-btecprogress .achieved{
    background-color:lightgreen;
}
.path-report-btecprogress .notmet{
    background-color: #FF3300;
}
.path-report-btecprogress .refer{
    background-color: #FF3300;
}



.path-report-btecprogress .pass{
    background-color:orange;    
}
.path-report-btecprogress .merit{
    background-color:yellow;
}
.path-report-btecprogress .distinction{
    background-color:green;    
}