/*.path-report-btecprogress table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

.path-report-btecprogress table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}
*/
.assignodd{
    background-color:#D3D3D3;
    /*lightgrey*/
}

.assigneven{ 
    background-color:#BABABA;
}
.nameheader{
    background-color:#76C2FC;    
}
.totalcol{
    background-color:salmon;
}
.username{
    background-color: lightblue;
}
.achieved{
    background-color:green;
}
.notmet{
    background-color:red;
}
.nosubmit{
    background-color:pink;
}
.refer{
    background-color:red;
}
.pass{
    background-color:orange;    
}
.merit{
    background-color:yellow;
}
.distinction{
    background-color:green;    
}
